.form {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  min-width: 0;
  height: 42.19px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
}

.add {
  position: relative;
  width: 120px;
  padding: 0.6em 1.2em;
  background-color: var(--dark);
  color: var(--light);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  overflow: hidden;
}
.add::before {
  content: "ADD";
  position: absolute;
  left: 0;
  right: 0;
  color: inherit;
  transition: opacity 0.2s linear;
  opacity: 0;
  z-index: 1;
}
.add:enabled:hover::before {
  opacity: 1;
}
.add::after {
  content: "";
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  width: 150px;
  height: 150px;
  transform-origin: center;
  transform: scale(0);
  transition: transform 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  border-radius: 50%;
  background-color: var(--primary);
}
.add:enabled:hover::after {
  transform: scale(1);
}

@media (prefers-color-scheme: light) {
  .input {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
